:host {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.flex {
  display: flex;

  margin: 10px 0;

  font-size: 20px;
}

button {
  display: inline-flex;
  padding: 11px 16px;
  align-items: flex-start;

  border-radius: var(--spacing-sm, 5px);
  border: 1px solid var(--blue-700, #0357a3);
  background: var(--Blue-400, #0085fc);

  color: var(--White, #fff);
  font-family: Inter;
  font-size: 13px;
}
